<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>
<p>
  <% if @user.beer_clubs.empty? %>
    The user is not a member of any beer clubs
  <% else %>
    <h2>Memberhips</h2>
    <ul>
      <% @user.beer_clubs.each do |club| %>
        <li><%= link_to club.name, club %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <% if @user.ratings.empty? %>
      The user has no ratings
  <% else %>
    <h2>Ratings</h2>
    has made <%= pluralize(@user.ratings.count, 'rating') %>, average <%= @user.average_rating %>
    <ul>
      <% @user.ratings.each do |rating| %>
          <li>
            <%= rating %>
            <% if @user == current_user %>
                <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </li>
      <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', users_path %>
