<p id="notice"><%= notice %></p>

<p>
  <h2><%= @style.name %></h2>
</p>

<p>
  <%= @style.description %>
</p>


<% if not @style.beers.empty? %>
    <p>
      <ul>
        <% @style.beers.each do |beer| %>
            <li><%= link_to beer.name, beer %></li>
        <% end %>
      </ul>
    </p>
<% end %>

<%= link_to 'Edit', edit_style_path(@style), class: 'btn btn-primary' %>
<%= link_to 'Destroy', @style, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<%= link_to 'Back', styles_path, class: 'btn btn-primary' %>
